.Data-Container {
    width: 80% !important;
}
.Risk-Container {
    height: 93%;
}
.mt-4 h1 {
    margin: 0;
    font-size: 30px;
}
.mt-4 h2 {
    margin: 0;
    font-size: 23px;
}
.mt-4 h4 {
    margin: 0;
    font-size: 20px;
    color: darkgray;
}
.mt-4 p {
    margin-top: 1vh;
    font-size: 16px;
    max-width: 75%;
}
.card-body {
    min-height: 100%;
    height: 70vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content-wrap {
    flex: 1;
  }
  .App {
    text-align: center;
  }

  .text_center {
      display: flex;
      width: 100%;
      max-width: 60%;
      margin: 0 auto;
      justify-content: center;
  }
  .Footer {
      background-color: #1F3140;
      color: white;
      height: 6%;
      overflow-y: hidden;
  }
