.tdRisk{
    padding-left: 0px !important; 
}
.redBG:hover{
    background-color: rgba(170, 65, 65, 0.676) !important;
}
.yellowBG{
    background-color: rgba(198, 193, 65, 0.676) !important;
}

.greenBG{
    background-color: rgba(65, 170, 100, 0.676) !important;
}
