<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>com.mycompany.frontend.LoginService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultEmployee</servlet-name>
        <servlet-class>com.mycompany.frontend.ConsultEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VacationServ</servlet-name>
        <servlet-class>com.mycompany.frontend.VacationServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vacation</servlet-name>
        <servlet-class>com.mycompany.frontend.Vacation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CGS</servlet-name>
        <servlet-class>com.mycompany.frontend.CGS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SGS</servlet-name>
        <servlet-class>com.mycompany.frontend.SGS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disabilityProof</servlet-name>
        <servlet-class>com.mycompany.frontend.disabilityProof</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServ</servlet-name>
        <servlet-class>com.mycompany.frontend.AdminServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptCGS</servlet-name>
        <servlet-class>com.mycompany.frontend.AcceptCGS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptLaboral</servlet-name>
        <servlet-class>com.mycompany.frontend.AcceptLaboral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptLaboralRH</servlet-name>
        <servlet-class>com.mycompany.frontend.AcceptLaboralRH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptSGS</servlet-name>
        <servlet-class>com.mycompany.frontend.AcceptSGS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptVacation</servlet-name>
        <servlet-class>com.mycompany.frontend.AcceptVacation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComprobante</servlet-name>
        <servlet-class>com.mycompany.frontend.CargaComprobante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProof</servlet-name>
        <servlet-class>com.mycompany.frontend.GetProof</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProofRH</servlet-name>
        <servlet-class>com.mycompany.frontend.GetProofRH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pasar</servlet-name>
        <servlet-class>com.mycompany.frontend.Pasar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasarCGS</servlet-name>
        <servlet-class>com.mycompany.frontend.PasarCGS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasarVacation</servlet-name>
        <servlet-class>com.mycompany.frontend.PasarVacation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassUser</servlet-name>
        <servlet-class>com.mycompany.frontend.PassUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdmin</servlet-name>
        <servlet-class>com.mycompany.frontend.UpdateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.mycompany.frontend.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateVacation</servlet-name>
        <servlet-class>com.mycompany.frontend.VacationsStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVacations</servlet-name>
        <servlet-class>com.mycompany.frontend.ViewVacations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVacation</servlet-name>
        <servlet-class>com.mycompany.frontend.ViewVacation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VacationsStatus</servlet-name>
        <servlet-class>com.mycompany.frontend.VacationsStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLaboralEm</servlet-name>
        <servlet-class>com.mycompany.frontend.ViewLaboralEm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateData</servlet-name>
        <servlet-class>com.mycompany.frontend.UpdateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Holidays</servlet-name>
        <servlet-class>com.mycompany.frontend.HolidaysR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolidaysReg</servlet-name>
        <servlet-class>com.mycompany.frontend.HolidaysReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHolidays</servlet-name>
        <servlet-class>com.mycompany.frontend.DeleteHolidays</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolidaysRegist</servlet-name>
        <servlet-class>com.mycompany.frontend.HolidaysRegist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHoliday</servlet-name>
        <servlet-class>com.mycompany.frontend.DeleteHoliday</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassHoliday</servlet-name>
        <servlet-class>com.mycompany.frontend.PassHoliday</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHoliday</servlet-name>
        <servlet-class>com.mycompany.frontend.UpdateHoliday</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobarDia</servlet-name>
        <servlet-class>com.mycompany.frontend.AprobarDia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenegarDia</servlet-name>
        <servlet-class>com.mycompany.frontend.DenegarDia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/LoginService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultEmployee</servlet-name>
        <url-pattern>/ConsultEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VacationServ</servlet-name>
        <url-pattern>/VacationServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vacation</servlet-name>
        <url-pattern>/Vacation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CGS</servlet-name>
        <url-pattern>/CGS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SGS</servlet-name>
        <url-pattern>/SGS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disabilityProof</servlet-name>
        <url-pattern>/disabilityProof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServ</servlet-name>
        <url-pattern>/AdminServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptCGS</servlet-name>
        <url-pattern>/AcceptCGS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptLaboral</servlet-name>
        <url-pattern>/AcceptLaboral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptLaboralRH</servlet-name>
        <url-pattern>/AcceptLaboralRH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptSGS</servlet-name>
        <url-pattern>/AcceptSGS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptVacation</servlet-name>
        <url-pattern>/AcceptVacation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComprobante</servlet-name>
        <url-pattern>/CargaComprobante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProof</servlet-name>
        <url-pattern>/GetProof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProofRH</servlet-name>
        <url-pattern>/GetProofRH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pasar</servlet-name>
        <url-pattern>/Pasar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasarCGS</servlet-name>
        <url-pattern>/PasarCGS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasarVacation</servlet-name>
        <url-pattern>/PasarVacation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassUser</servlet-name>
        <url-pattern>/PassUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdmin</servlet-name>
        <url-pattern>/UpdateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateVacation</servlet-name>
        <url-pattern>/StateVacation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVacations</servlet-name>
        <url-pattern>/ViewVacations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVacation</servlet-name>
        <url-pattern>/ViewVacation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VacationsStatus</servlet-name>
        <url-pattern>/VacationsStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLaboralEm</servlet-name>
        <url-pattern>/ViewLaboralEm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateData</servlet-name>
        <url-pattern>/UpdateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Holidays</servlet-name>
        <url-pattern>/Holidays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolidaysReg</servlet-name>
        <url-pattern>/HolidaysReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHolidays</servlet-name>
        <url-pattern>/DeleteHolidays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolidaysRegist</servlet-name>
        <url-pattern>/HolidaysRegist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHoliday</servlet-name>
        <url-pattern>/DeleteHoliday</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassHoliday</servlet-name>
        <url-pattern>/PassHoliday</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHoliday</servlet-name>
        <url-pattern>/UpdateHoliday</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobarDia</servlet-name>
        <url-pattern>/AprobarDia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenegarDia</servlet-name>
        <url-pattern>/DenegarDia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
