.Data-Container {
    width: 80% !important;
}
.Plan-Container {
    height: 93%;
}
.mt-4 h1{

   margin: 0px;
   font-size: 30px; 
}

.mt-4 h2{
    margin: 0px;
    font-size: 23px;
}
.mt-4 h4{
    margin: 0px;
    font-size: 20px;
    color: darkgray;
}

.mt-4 p{
    margin-top: 1vh;
    font-size: 16px;
    max-width: 75%;

}

.card-body{

    min-height: 100%;

}
.card-body{
    height: 53vh;

}
    