* {
    overflow-x: hidden !important;
}
.Header {
    background-color: #1F3140;
    color: white;
}
.Content {
    height: 91.5vh;
}
.Comentarios {
    font-size: 16px;
}
.card {
    height: 100%
}
.pdf {
    color: black;
}
.boton {
    margin-top: 20px;
}
