* {
    overflow-x: hidden !important;
}
.Header {
    background-color: #1F3140;
    color: white;
    height: 7%;
    overflow-y: hidden;
    
   
}
#root { 
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;

}

.nav-item{
    overflow-y:hidden;
    color: black;
    
}
.nav-item:active{
    background-color: black;
    color: white;   
}

