* {
    overflow-x: hidden !important;
}
.Header {
    background-color: #1F3140;
    color: white;
    height: 7%;
}
#root {
    height: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}